<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoong.dist.service.core.mapper.a1902_stage.ApiSendRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yoong.dist.api.domain.a1902_stage.ApiSendRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="api_service_id" property="apiServiceId" jdbcType="BIGINT" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="bank_id" property="bankId" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="cert_no" property="certNo" jdbcType="VARCHAR" />
    <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    <result column="busi_code" property="busiCode" jdbcType="VARCHAR" />
    <result column="hand_status" property="handStatus" jdbcType="INTEGER" />
    <result column="response_time" property="responseTime" jdbcType="TIMESTAMP" />
    <result column="retries" property="retries" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yoong.dist.api.domain.a1902_stage.ApiSendRecord" extends="BaseResultMap" >
    <result column="request" property="request" jdbcType="LONGVARCHAR" />
    <result column="response" property="response" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_date, modify_date, version, api_service_id, app_id, app_name, order_no, 
    project_id, bank_id, customer_name, cert_no, phone_num, busi_code, hand_status, response_time, 
    retries
  </sql>
  <sql id="Blob_Column_List" >
    request, response
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yoong.dist.api.domain.a1902_stage.ApiSendRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from api_send_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yoong.dist.api.domain.a1902_stage.ApiSendRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from api_send_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from api_send_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from api_send_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yoong.dist.api.domain.a1902_stage.ApiSendRecordExample" >
    delete from api_send_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yoong.dist.api.domain.a1902_stage.ApiSendRecord" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into api_send_record (create_date, modify_date, version, 
      api_service_id, app_id, app_name, 
      order_no, project_id, bank_id, 
      customer_name, cert_no, phone_num, 
      busi_code, hand_status, response_time, 
      retries, request, response
      )
    values (#{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT}, 
      #{apiServiceId,jdbcType=BIGINT}, #{appId,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{bankId,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{certNo,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, 
      #{busiCode,jdbcType=VARCHAR}, #{handStatus,jdbcType=INTEGER}, #{responseTime,jdbcType=TIMESTAMP}, 
      #{retries,jdbcType=INTEGER}, #{request,jdbcType=LONGVARCHAR}, #{response,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yoong.dist.api.domain.a1902_stage.ApiSendRecord" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into api_send_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="apiServiceId != null" >
        api_service_id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="certNo != null" >
        cert_no,
      </if>
      <if test="phoneNum != null" >
        phone_num,
      </if>
      <if test="busiCode != null" >
        busi_code,
      </if>
      <if test="handStatus != null" >
        hand_status,
      </if>
      <if test="responseTime != null" >
        response_time,
      </if>
      <if test="retries != null" >
        retries,
      </if>
      <if test="request != null" >
        request,
      </if>
      <if test="response != null" >
        response,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="apiServiceId != null" >
        #{apiServiceId,jdbcType=BIGINT},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="certNo != null" >
        #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="busiCode != null" >
        #{busiCode,jdbcType=VARCHAR},
      </if>
      <if test="handStatus != null" >
        #{handStatus,jdbcType=INTEGER},
      </if>
      <if test="responseTime != null" >
        #{responseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="retries != null" >
        #{retries,jdbcType=INTEGER},
      </if>
      <if test="request != null" >
        #{request,jdbcType=LONGVARCHAR},
      </if>
      <if test="response != null" >
        #{response,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yoong.dist.api.domain.a1902_stage.ApiSendRecordExample" resultType="java.lang.Integer" >
    select count(*) from api_send_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update api_send_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null" >
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.apiServiceId != null" >
        api_service_id = #{record.apiServiceId,jdbcType=BIGINT},
      </if>
      <if test="record.appId != null" >
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.appName != null" >
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null" >
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.bankId != null" >
        bank_id = #{record.bankId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null" >
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.certNo != null" >
        cert_no = #{record.certNo,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNum != null" >
        phone_num = #{record.phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="record.busiCode != null" >
        busi_code = #{record.busiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.handStatus != null" >
        hand_status = #{record.handStatus,jdbcType=INTEGER},
      </if>
      <if test="record.responseTime != null" >
        response_time = #{record.responseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.retries != null" >
        retries = #{record.retries,jdbcType=INTEGER},
      </if>
      <if test="record.request != null" >
        request = #{record.request,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.response != null" >
        response = #{record.response,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update api_send_record
    set id = #{record.id,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      api_service_id = #{record.apiServiceId,jdbcType=BIGINT},
      app_id = #{record.appId,jdbcType=VARCHAR},
      app_name = #{record.appName,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      bank_id = #{record.bankId,jdbcType=VARCHAR},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      cert_no = #{record.certNo,jdbcType=VARCHAR},
      phone_num = #{record.phoneNum,jdbcType=VARCHAR},
      busi_code = #{record.busiCode,jdbcType=VARCHAR},
      hand_status = #{record.handStatus,jdbcType=INTEGER},
      response_time = #{record.responseTime,jdbcType=TIMESTAMP},
      retries = #{record.retries,jdbcType=INTEGER},
      request = #{record.request,jdbcType=LONGVARCHAR},
      response = #{record.response,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update api_send_record
    set id = #{record.id,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=BIGINT},
      api_service_id = #{record.apiServiceId,jdbcType=BIGINT},
      app_id = #{record.appId,jdbcType=VARCHAR},
      app_name = #{record.appName,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      bank_id = #{record.bankId,jdbcType=VARCHAR},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      cert_no = #{record.certNo,jdbcType=VARCHAR},
      phone_num = #{record.phoneNum,jdbcType=VARCHAR},
      busi_code = #{record.busiCode,jdbcType=VARCHAR},
      hand_status = #{record.handStatus,jdbcType=INTEGER},
      response_time = #{record.responseTime,jdbcType=TIMESTAMP},
      retries = #{record.retries,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoong.dist.api.domain.a1902_stage.ApiSendRecord" >
    update api_send_record
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="apiServiceId != null" >
        api_service_id = #{apiServiceId,jdbcType=BIGINT},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        bank_id = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="certNo != null" >
        cert_no = #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="busiCode != null" >
        busi_code = #{busiCode,jdbcType=VARCHAR},
      </if>
      <if test="handStatus != null" >
        hand_status = #{handStatus,jdbcType=INTEGER},
      </if>
      <if test="responseTime != null" >
        response_time = #{responseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="retries != null" >
        retries = #{retries,jdbcType=INTEGER},
      </if>
      <if test="request != null" >
        request = #{request,jdbcType=LONGVARCHAR},
      </if>
      <if test="response != null" >
        response = #{response,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yoong.dist.api.domain.a1902_stage.ApiSendRecord" >
    update api_send_record
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      api_service_id = #{apiServiceId,jdbcType=BIGINT},
      app_id = #{appId,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      cert_no = #{certNo,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      busi_code = #{busiCode,jdbcType=VARCHAR},
      hand_status = #{handStatus,jdbcType=INTEGER},
      response_time = #{responseTime,jdbcType=TIMESTAMP},
      retries = #{retries,jdbcType=INTEGER},
      request = #{request,jdbcType=LONGVARCHAR},
      response = #{response,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoong.dist.api.domain.a1902_stage.ApiSendRecord" >
    update api_send_record
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      api_service_id = #{apiServiceId,jdbcType=BIGINT},
      app_id = #{appId,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      cert_no = #{certNo,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      busi_code = #{busiCode,jdbcType=VARCHAR},
      hand_status = #{handStatus,jdbcType=INTEGER},
      response_time = #{responseTime,jdbcType=TIMESTAMP},
      retries = #{retries,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>